* {
    box-sizing: border-box;
}

.header-scroll {
    max-height: 600px;
    margin-bottom: 20px;
}

div.slide {
    position: relative;
}

h1 {
    font-size: 48px;
}

div.slide-img {
    background-image: url(//unsplash.it/1920/600)
}

div.slide > h4 {
    position: absolute;
}

.carousel-caption {
    text-align: left;
    top: 50px;
    bottom: auto;
}

.card {
    margin: 20px;
}

hr {
    height: 1px;
    position: relative;
    top: 20px;
    left: 20px;
}

.jumbotron {
    margin-bottom: 0px;
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
}

h2 {
    margin-left: 20px;
}

nav {
    position:sticky;
}

.secretary {
    background-image: url("images/secretary.jpg");

}

.role {
    background-image: url("images/role.jpg");

}

.education {
    background-image: url("images/education.jpg");

}

.structure {
    background-image: url("images/structure.jpg");

}

.history {
    background-image: url("images/history.jpg");

}


.display-4, .lead {
    color:white;
}

.side {
    height: calc(100vh - 56px);
}

.side-nav {
    list-style: none;   
}

.side-nav > li {
    padding: 15px;
    color: #335D8D;
    font-weight: bold;

}

ul {
    padding-left: 0px;
}

.side-nav > li.active {
    color: white;
    background-color: #335D8D;
}

.side-nav > li:active {
    color: white;
    background-color: #335D8D;
}

.side-nav > li:focus {
    color: white;
    background-color: #335D8D;
}
.side-nav > li:hover {
    border-left: 2px solid rgb(184, 184, 184);
    transition: .5s;
}

.navbar {
    background-color: #517194;
}

nav a {
    color: white;
}

nav a:hover {
    color: #517194;
    background-color: white;
}